<!DOCTYPE html>
<html lang="en" ng-app="todoList">
<head>
    <meta charset="UTF-8">
    <title></title>
  <link rel="stylesheet" href="../todo-styles.css">
  <link rel="stylesheet" href="styles.css">
		<script type="text/javascript" src="../../assets/vendor/angular/angular.min.js"></script>
</head>
<body>
		<div ng-controller="Controller as controller">

      <h1>{{controller.title}}</h1>

      <div>
        <input ng-model="controller.newTodo" type="text">
        <button ng-click="controller.addTodo()">Add Todo</button>
      </div>

      <ul>
        <li ng-repeat="todo in controller.todoList">{{todo.text}}</li>
      </ul>

		</div>
		<script src="script.js"></script>
</body>
</html>
